@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --video-width: 100vw;
    --video-height: 100vh;
    --background: #fffcee;
    --foreground: #171717;
}

@media (min-aspect-ratio: 16/9) {
    :root {
        --video-height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    :root {
        --video-width: 177.78vh;
    }
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--foreground);
    background: var(--background);
    --sb-track-color: #f2edd3;
    --sb-thumb-color: #582615;
    --sb-size: 7px;
}


body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    clear: both;
    width: 100vw;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Classes utilitaires pour les masques */
@layer utilities {
    .mask-custom {
        mask-image: url('/assets/images/overlay_white_inverted_002.png');
        -webkit-mask-image: url('/assets/images/overlay_white_inverted_002.png');
        mask-repeat: no-repeat;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
    }

    .maskFooter {
        mask-image: url('/assets/images/MaskFooter.png');
        -webkit-mask-image: url('/assets/images/MaskFooter.png');
        mask-repeat: no-repeat;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
    }

    .maskMap {
        width: 100%;
        height: 100%;
        mask-image: url('/assets/images/masqueMap.png');
        -webkit-mask-image: url('/assets/images/masqueMap.png');
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
    }

}

.video-background {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    clear: both;
    margin: 0;
    padding: 0;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width);
    height: var(--video-height);
    transform: translate(-50%, -50%);
}

.animate-video {
    animation: video-in 3s ease-in forwards;
}

@keyframes video-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Styles pour la scrollbar */
body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}