@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    clear: both;
    width: 100vw;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    --sb-track-color: #f2edd3;
    --sb-thumb-color: #582615;
    --sb-size: 7px;
}

:root {
    --background: #fffcee;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fffcee;
        --foreground: #ededed;
    }
}

@layer utilities {
    .mask-custom {
        mask-image: url('../../public/assets/images/overlay_white_inverted_002.png');
        -webkit-mask-image: url('../../public/assets/images/overlay_white_inverted_002.png');
        mask-repeat: no-repeat;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;

    }

    .maskFooter {
        mask-image: url('../../public/assets/images/MaskFooter.png');
        -webkit-mask-image: url('../../public/assets/images/MaskFooter.png');
        mask-repeat: no-repeat;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
    }

    .maskMap {
        width: 100%;
        height: 100%;
        mask-image: url('../../public/assets/images/masqueMap.png');
        -webkit-mask-image: url('../../public/assets/images/masqueMap.png');
        mask-repeat: no-repeat;
        mask-size: 100% 100%; /* Ajuste la taille du masque */
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
    }


}

.img-custom {
    width: 1920px;
    height: 1080px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}